<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="log4net" version="2.0.6" targetFramework="net452" />
  <package id="NUnit" version="3.5.0" targetFramework="net452" />
  <package id="Selenium.Firefox.WebDriver" version="0.11.1" targetFramework="net452" />
  <package id="Selenium.Support" version="3.0.1" targetFramework="net452" />
  <package id="Selenium.WebDriver" version="3.0.1" targetFramework="net452" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.27.0" targetFramework="net452" />
  <package id="SpecFlow" version="2.1.0" targetFramework="net452" />
  <package id="SpecFlow.NUnit" version="2.1.0" targetFramework="net452" />
  <package id="WebDriver.GeckoDriver" version="0.11.1" targetFramework="net452" />
</packages>